<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bookIMG</key>
	<string></string>
	<key>bookName</key>
	<string></string>
	<key>owenerName</key>
	<string></string>
	<key>sexIMG</key>
	<string></string>
	<key>classification</key>
	<string></string>
	<key>price</key>
	<string></string>
</dict>
</plist>
